@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --purple: #591ae8;
    --background-purple: #8257e5;
    --green: #4ad395;
    --red: #e92929;
    --background: #f0f2f5;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--background);
}

/* header */

header {
    padding: 8rem;
    text-align: center;
    background-color: var(--background-purple);
}

header #logo {
    color: #fff;
    font-weight: 700;
}

/* main */

#container {
    width: min(80vw, 800px);
    margin: auto;
    margin-top: 8rem;
    padding: 2rem;
    border-radius: .5rem;
}

#new-note {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--purple);
    font-weight: bold;

    cursor: pointer;
}

#data-table {
    width: 100%;
    margin-top: 2rem;
}

#data-table table {
    width: 100%;
    text-align: left;
    color: #969cb3;

    border-spacing: 0 .5rem;
    font-size: 1.4rem;
}

#data-table table thead tr th {
    background: #fff;
    padding: 2rem 1rem;
}

#data-table table thead tr th:first-child,
#data-table table tbody tr td:first-child {
    border-radius: .5rem 0 0 .5rem;
}

#data-table table thead tr th:last-child,
#data-table table tbody tr td:last-child {
    border-radius: 0 .5rem .5rem 0;
}

#data-table table tbody tr {
    opacity: .9;
}

#data-table table tbody tr:hover {
    opacity: 1;
}

#data-table table tbody tr td {
    background-color: #fff;
    padding: 1rem 1rem;
}

.done {
    cursor: pointer;
    width: 3rem;
}

/* modal */

.modal {
    margin-top: -14rem;
}

input {
    width: 100%;
    padding: 1.8rem;
    border: none;
    outline: none;
    border-radius: .5rem;
}

input::placeholder {
    color: #969cb3;
    font-family: 'Ubuntu', sans-serif;
}

.input-group {
    margin-top: 2rem;
}

.buttons-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#border-bottom {
    height: 1px;
    width: 100%;
    background-color: #969cb3;
    opacity: .6;

    margin-top: 0;
}

.buttons-group button {
    align-self: flex-end;
    width: 30%;
    height: 40px;
    margin-bottom: 1rem;
    font-size: 1.4rem;

    outline: none;

    transition: .2s;
}


.buttons-group a:hover,
.buttons-group button:hover {
    opacity: .9;
}

.buttons-group button {
    border: none;
    background: var(--green);
    color: white;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
}


/*footer*/

footer {
    width: 100%;
    bottom: 0;
    padding: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer h2 {
    font-weight: 700;
    color: var(--green);
}